.main-bg {
  background-color: hsl(0, 0%, 95%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  max-width: 960px;
  width: 80%;
}

.orange-block {
  background-color: hsl(31, 77%, 52%);
}
.cyan-block {
  background-color: hsl(184, 100%, 22%);
}
.dark-cyan-block {
  background-color: hsl(179, 100%, 13%);
}

.orange-block,
.cyan-block,
.dark-cyan-block {
  height: 500px;
  width: 320px;
}
